
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
    margin-left: 200px;
    margin-right: 200px;
}

/* Start styling of OPENING page */
h1 {
    text-align: center;
    color: blue;
}

p {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.button {
    background-color: darkred;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
   margin: auto;
}


h2 {
    text-align: center;
}

/* Styling of the question screen */
.question-screen {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
list-style-type: none;
display: flex;
justify-content: center;
flex-direction: column;
align-items: baseline;
padding-left: 50%;
}

/* This will hide the question, highscore, answer, and final score screen until the user gets to it */
.question-screen, .highscore-page, #check-answer, .final-page {
    display: none;
}

/* Styling of the Footer */
footer {
    font-weight: bold;
}