body {
    font-family:DejaVu Sans Mono, monospace; 
    background-color: aquamarine;
}
/* Start styling of OPENING page */
h1 {
    text-align: center;
    color: blue;
}

p {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button {
    background-color: darkred;
    color: white;
    font-weight: bold;
    text-align: center;
}

ul {
    
}

h2 {
    text-align: center;
}